# Build artifacts gerados automaticamente (não commitar)
*.class
CoolParser.java
TokenConstants.java
cool.output
cool-tree.class
tests/good.output
tests/bad.output

# Executável e symlinks do curso
parser
cgen
semant
lexer
myparser
mycoolc
cool-tree.aps
AbstractSymbol.java
AbstractTable.java
BoolConst.java
CgenClassTable.java
CgenNode.java
CgenSupport.java
ClassTable.java
CoolTokenLexer.java
Flags.java
IdSymbol.java
IdTable.java
IntSymbol.java
IntTable.java
ListNode.java
Parser.java
StringSymbol.java
StringTable.java
SymbolTable.java
TreeConstants.java
TreeNode.java
Utilities.java
cool-tree.java
